<div class="container">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="login">
            <h1 class="title">Inicio de sesión</h1>
            <div class="content-form">
                <div class="content-inputs">
                    <div class="input">
                        <span>Usuario</span>
                        <div class="input-img">
                            <img src="assets/img/icons/user.svg" alt="username" class="user-img">
                            <input type="text" formControlName="username" name="username" placeholder="Ingrese su usuario">
                        </div>
                    </div>
                    <div class="message-danger" [hidden]="username.valid || username.pristine">
                        El campo usuario es requerido
                    </div>
                    <div class="input">
                        <span>Contraseña</span>
                        <div class="input-img">
                            <img src="assets/img/icons/lock.svg" alt="lock">
                            <input type="password" formControlName="password" name="password" placeholder="Ingrese su contraseña">
                        </div>
                    </div>
                    <div class="message-danger" [hidden]="password.valid || password.pristine">
                        El campo contraseña es requerido
                    </div>
                </div>
                <div class="message-danger" *ngIf="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
            </div>
            <button class="button" [disabled]="loginForm.invalid" [ngClass]="{
                'block': isLogged
            }">Iniciar sesión</button>
        </div>
    </form>
</div>